name: Java CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: build and test cadc-vos
      run: cd cadc-vos && ../gradlew --info clean build javadoc install
      
    - name: build and test cadc-vos-server
      run: cd cadc-vos-server && ../gradlew --info clean build javadoc install
      
    - name: build and test cadc-test-vos
      run: cd cadc-test-vos && ../gradlew --info clean build javadoc install
      
    - name: build and test cavern
      run: cd cavern && ../gradlew --info clean assemble
      
