name: Java CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: build and test cadc-vos
      run: cd cadc-vos && ../gradlew --info clean build javadoc install
      
    - name: build and test cadc-vos-server
    # run: cd cadc-vos-server && ../gradlew --info clean build javadoc install
      
    - name: build and test cadc-vos-server-db
    # run: cd cadc-vos-server-db && ../gradlew --info clean build javadoc install

    - name: build and test cadc-test-vos
    # run: cd cadc-test-vos && ../gradlew --info clean build javadoc install
      
    - name: build and test cavern
    # run: cd cavern && ../gradlew --info clean assemble
      
